/* 地址 */
.addr_item {
  margin-bottom: 20rpx;
  font-size: 0;
  background: #fff;
  padding-top: 40rpx;
}
.addr_item_line{
  margin-top: 40rpx;
  width: 100%;
  height: 4rpx;
}
.addr_item_cont {
  font-size: 32rpx;
  display: flex;
  align-items: center;
  padding: 0 30rpx;
}
.addr_name{
  display: inline-block;
  width: 5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: normal;
}